<div class="component__countryview">
    <h3>{{ country.name }}</h3>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Capital</th>
            <td>{{ country.capital }}</td>
        </tr>
        <tr ng-if="viewAll">
            <th>Region</th>
            <td>{{ country.region }} / {{ country.subregion }}</td>
        </tr>
        <tr>
            <th>Population</th>
            <td>{{ country.population | number }}</td>
        </tr>
        <tr ng-if="viewAll">
            <th>Area</th>
            <td>{{ country.area | number }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>{{ country.languages.join(', ') }}</td>
        </tr>
        </tbody>
    </table>
</div>