<table class="table table-bordered table-hover component__list">
    <thead>
    <tr>
        <th>Country</th>
        <th>Population</th>
    </tr>
    </thead>

    <tbody ng-if="!countries.length">
    <tr>
        <td colspan="2" class="text-center">Loading ...</td>
    </tr>
    </tbody>

    <tbody ng-if="countries.length">
    <tr ng-repeat="country in countries">
        <td>
            <a ui-sref="component.root.country.view({id: country.alpha3Code})">{{ country.name }}</a>
        </td>
        <td>
            {{ country.population | number }}
        </td>
    </tr>
    </tbody>
</table>