<div>
    <h1 class="page-header">Contact us</h1>
    <div class="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputMessage1">Message</label>
            <textarea class="form-control" rows="10" id="exampleInputMessage1" placeholder="Message"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Notify me
            </label>
        </div>
        <button type="button" class="btn btn-default">Submit</button>
    </div>
</div>