<div class="component__about">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate earum exercitationem iusto odio,
        praesentium provident quam quo tempore velit! Aperiam deleniti maxime molestias officiis quos? Aliquid
        architecto aut consequuntur cupiditate dicta, dolorem dolorum ducimus ea eveniet explicabo, hic iste, iure
        labore natus necessitatibus neque nobis nostrum provident quia quisquam reprehenderit tenetur unde velit?
        Doloremque enim facere fugit iusto quas quis quisquam reiciendis sed temporibus voluptate! Cum dignissimos ea
        eaque inventore itaque magnam nemo nihil obcaecati omnis, provident quo reiciendis reprehenderit sint?
        Accusantium aperiam at commodi consequuntur, corporis deleniti eligendi est eveniet fugiat illo magnam magni
        modi omnis quis ratione sapiente tenetur veniam! At cumque eius maxime numquam repellat sequi ullam. Aut commodi
        cum eos eum labore minus, necessitatibus, nemo nisi, nulla pariatur quidem reprehenderit saepe tempore
        temporibus voluptatum. Ab architecto, assumenda commodi debitis deserunt dolores, doloribus dolorum enim error
        illo inventore magni molestiae nihil odit perferendis praesentium repudiandae sunt tenetur totam unde! Ad
        aperiam eaque eius excepturi explicabo in ipsam laboriosam, obcaecati quo, sed similique sunt ullam voluptatem.
        Alias, blanditiis cum dicta dignissimos dolor, doloremque eius error est explicabo fuga fugit harum impedit
        iusto laudantium minima necessitatibus nobis quae quibusdam quidem quis quisquam quos recusandae, reprehenderit
        temporibus totam velit.</p>
</div>