<ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: $state.includes('component.root.country')}">
        <a ui-sref="component.root.country.list">Countries</a>
    </li>
    <li ng-class="{active: $state.includes('component.root.about')}">
        <a ui-sref="component.root.about">About</a>
    </li>
</ul>